@use '../../Styles/variables.scss' as *;
@use '../../Styles/mixins.scss' as *;

.mobileMenu{
    z-index: 10;
    position: fixed;
    top: 0;
    left: -75%;
    // background-color: rgb(33, 31, 51);
    background: linear-gradient(to right, rgb(33, 31, 51, 0.8), 
    rgb(33, 31, 51, 0.8), rgb(33, 31, 51, 0.8), rgba(0,0,0,0));
    height: 100vh;
    width: 65%;
    transition: left .5s;
    &.active{
        left: 0;
    }
    &__option{
        background: inherit;
        font-size: 1.5rem;
        color: $BYWhite;
        max-width: fit-content;
        margin-top: 2rem;
        border: none;
        &.modBold{
            font-weight: 900;
        }
        &.active{
            font-weight: 900;
            background: $BYRed;
            // font-size: 10rem;
            
        }
        &:hover{
            background: $BYRed;
        }
        &--container{
            margin: 7rem 0 0 3rem;
        }
    }
    @include desktop{
        display: none;
    }
    &__username{
        font-size: 1rem;
        color: $BYWhite;
        position: absolute;
        // margin-left: 3rem;
    }
}