@use '../../Styles/variables.scss' as *;
@use '../../Styles/mixins.scss' as *;


.card{
    margin: 2rem 0;
    // width: 85%;
    width: 27rem;
    height: 13rem;
    background: rgb(245, 245, 245, 0.6);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    // gap: 1rem;
    // z-index: -100;

    &:hover .overlay{
        // position: absolute;
        background: rgb(0, 0, 0, 0.4);
    }

    @include tablet{
        flex-direction: column;
        align-items: center;
        width: 13rem;
        height: 27rem;
        padding: 0rem 1rem;
    }
    @include desktop{
        margin: 2rem 0rem;
    }
    &__wrapper{
        // width: 16rem;
        @include tablet{
            margin: 0rem 1rem;
        }
        @include desktop{
            margin: 1rem 0rem;
        }
    }


    &__img{
        height: 8rem;
        margin: 1rem 1rem 0;
        border-radius: 10px;

        @include tablet {
            height: 9rem;
            margin-top: 0;
        }

        &--container{

        }
    }

    &__text{
        @include tablet{
            // margin-right: 1rem;
            margin-top: -2rem;
        }




        &--label{
            margin-top: 1rem;
            color: $BYRed;

            &__artist{
                color: $BYRed;
            }
        }
        &--detail{
            font-weight: 900;
            color: $BYBlue;
        }
        &--artist{
            font-size: 1.3rem;
            &__container{
                margin-left: 1rem;
            }
        }
    }
    &__rsvp{
        border: none;
        margin-top: 0.5rem;
        margin-left: 8rem;
        font-size: 1.5rem;
        font-weight: 900;
        color: $BYWhite;
        background-color: $BYRed;
    }

    &__category{
        width: 10rem;
        border: none;
        border-radius: 3px;
        background: $BYBlue;
        color: $BYWhite;
        font-size: 1rem;
        padding: 0.3rem;
        margin-top: 0.5rem;
        margin-left: 0rem;

        @include tablet{
            // margin-left: 2.7rem;
        }
    }
    &__delete{
        width: fit-content;
        position: absolute;
        height: 1.5rem;
        background: none;
        border: none;
        margin: 0.6rem 1rem 1rem 0.4rem;
        // top: 0;
        // right: 0;
        z-index: 99999999999999;

    }
}

// .overlay{
//     // transition: all 0.4s ease;
//     // position: absolute;
//     // width: 27rem;
//     // height: 13rem;
//     // background: rgb(0, 0, 0, 0);
//     // border-radius: 10px;
//     // margin-left: -0.5rem;



//     @include tablet{
//         // flex-direction: column;
//         // justify-content: last baseline;
//         // width: 13rem;
//         // height: 27rem;
//         // padding: 0rem 1rem;
//         // margin-left: -7.5rem;
//         // margin-top: -0.8rem;
//         // margin-top: 0;
//     }
// }