$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px; 

$BYBlack: #262626;
$BYRed: #AA0000;
$BYBlue: #211F33;
$BYGreen: #6C8975;
$BYWhite: #F5F5F5;

// Client ID
// 149dead9240d5cb87c5e

// Client secret
// b2924f9e1580a443603d92815d04a46e7909dfa0