@use '../../Styles/variables.scss' as *;
@use '../../Styles/mixins.scss' as *;

.showpage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 8rem;
    z-index: -2;
    @include tablet{
        flex-direction: row;
    }

    &__buyTicket{
        height: 1rem;
        color: blue;
        z-index: 1;
        position: absolute;
        margin: 1rem;
        display: flex;
        left: 0;

        &--text{
            color: red;
            
        }
    }
    
}

.map-container{
    z-index: 0;
    min-height: 60rem;
    @include tablet{
        min-height: 45rem;

    }
    @include desktop{
        margin-top: -4rem;
    }

    position: absolute;
    left: 0;
    width: 100%; 
    height: auto;
}

.mapboxgl-map{
    position: absolute;
}