@use '../../Styles/variables.scss' as *;
@use '../../Styles/mixins.scss' as *;

.showpage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 8rem;
    z-index: -2;
    @include tablet{
        flex-direction: row;
    }

    &__buyTicket{
        padding: 0.3rem;
        background: $BYRed;
        z-index: 2;
        position: absolute;
        margin: 1rem;
        display: flex;
        justify-content: center;
        left: 16.5rem;
        top: 22.5rem;
        border-radius: 5px;

        @include tablet{
            top: 10rem;
            left: inherit;
            right: 1rem;
            padding: 0.4rem;
        }
        @include desktop{
            padding: 0.5rem;
            top: 12.7rem;
        }

        &:hover &--text{
                color: red;
        }

        &--text{
            font-weight: 600;
            color: $BYWhite;
        }
    }
}

.map-container{
    z-index: 0;
    min-height: 60rem;
    @include tablet{
        min-height: 45rem;

    }
    @include desktop{
        margin-top: -4rem;
    }

    position: absolute;
    left: 0;
    width: 100%; 
    height: auto;
}

.mapboxgl-map{
    position: absolute;
}