@use '../../Styles/variables.scss' as *;
@use '../../Styles/mixins.scss' as *;

.showpage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 8rem;
    z-index: -2;
    @include tablet{
        flex-direction: row;
    }
    
}

.map-container{
    z-index: 0;
    min-height: 60rem;
    @include tablet{
        min-height: 45rem;

    }
    @include desktop{
        margin-top: -4rem;
    }

    position: absolute;
    left: 0;
    width: 100%; 
    height: auto;
}

.mapboxgl-map{
    position: absolute;
}