@use '../../Styles/variables.scss' as *;
@use '../../Styles/mixins.scss' as *;

.form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    &__container{
        margin: -2rem 2rem 2rem;
        width: 27rem;
        height: auto;
        background: rgb(245, 245, 245, 0.6);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }
    &__button{
        margin: 0.4rem;
        padding: 0.5rem;
        &--container{
            text-align: center;
        }
        &--submit{
            height: 2rem;
        }
    }
}