@use '../../Styles/variables.scss' as *;
@use '../../Styles/mixins.scss' as *;

.signin{
    // width: 10rem;
    &__form{
        display: flex;
        flex-direction: column;
        &--label{
            color: $BYRed;
            font-weight: 700;
        }
        &--input{
            width: 10rem;
        }
        &--button{
            width: 10rem;
        }
    }
}

