@use '../../Styles/variables.scss' as *;
@use '../../Styles/mixins.scss' as *;

body{
    // background-image: url(../../assets/Map-background-placeholder.jpg);
    background-repeat: no-repeat;
    
    // margin: 1rem;
    
}

.tablet__wrapper{
display: flex;
flex-direction: column;
align-items: center;

    @include tablet{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    @include desktop{
        margin-top: -3rem;
        // justify-content: space-around;
        gap: 3rem;
    }
}