@use '../../Styles/variables.scss' as *;
@use '../../Styles/mixins.scss' as *;

.underCon{
    &__text{
        
        &--wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 50vh;
        }
        &--title{
            color: $BYWhite;
            margin-bottom: 1rem;
        }
        &--text{
            color: $BYRed;
        }
    }
}