@use '../../Styles/variables.scss' as *;
@use '../../Styles/mixins.scss' as *;


.cardLarge{
    margin: -2rem 2rem 2rem;
    width: 27rem;
    height: auto;
    background: rgb(245, 245, 245, 0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;

    // &:hover .overlay{
    //     background: rgb(0, 0, 0, 0.5);
    // }

    @include tablet{
    //     flex-direction: column;
    //     align-items: center;
    //     width: 13rem;
    //     height: 27rem;
        padding: 0rem 1rem;
        // margin-top: 4rem;
    }
    @include desktop{
    //     margin: 2rem 2rem;
    }

    &__wrapper{
        display: flex;
        // flex-direction: column;
        @include tablet{
            margin-top: 2rem;
        }
    }


    &__img{
        height: 8rem;
        margin: 1rem 1rem 0;
        border-radius: 10px;

        @include tablet {
            height: 9rem;
            margin-top: 0;
        }

        &--container{

        }
    }

    &__text{
        @include tablet{
            margin-right: 1rem;
            margin-top: -1rem;
        }

        &--label{
            margin-top: 1rem;
            color: $BYRed;

            &__artist{
                color: $BYRed;
            }
            &__comments{
                margin-top: 1rem;
                color: $BYRed;
                font-weight: 700;
                font-size: 1.2rem;
            }
        }
        &--detail{
            font-weight: 900;
            color: $BYBlue;
        }
        &--artist{
            font-size: 1.3rem;
            &__container{
                margin-left: 1rem;
            }
        }
        &--lower{
            margin-left: 1rem;
        }
        &--comments{
            margin-left: 1rem;
        }
    }
    &__rsvp{
        border: none;
        margin-top: 0.5rem;
        margin-left: 8rem;
        font-size: 1.5rem;
        font-weight: 900;
        color: $BYWhite;
        background-color: $BYRed;
    }

    &__category{
        width: 10rem;
        border: none;
        border-radius: 3px;
        background: $BYBlue;
        color: $BYWhite;
        font-size: 1rem;
        padding: 0.3rem;
        margin-top: 0.5rem;
        margin-left: 0rem;

        @include tablet{
        }
    }
    &__comment{
        display: flex;
        
        // margin-bottom: 1rem;
        margin: 1rem 0;
        gap: 1rem;

        &--name{
            // margin-right: 5%;
            font-weight: 700;
            color: $BYBlue;
            flex: 1.2;
            &__noComment{
                font-weight: 700;
                margin: 2rem 0;
                opacity: 0.5;
            }
        }
        &--body{
            flex: 5;
        }
        &--input{
            background: $BYBlue;
            color: $BYWhite;
            margin-left: 0rem;
            margin-right: 1rem;
            width: 100%;
            padding: 0.5rem;
            border: 2px solid $BYBlue;
            border-radius: 8px;
            outline: none;
        }
    }
}

.overlay{
    transition: all 0.4s ease;
    position: absolute;
    width: 27rem;
    height: 13rem;
    background: rgb(0, 0, 0, 0);
    border-radius: 10px;

    @include tablet{
        width: 13rem;
        height: 27rem;
        padding: 0rem 1rem;
    }
}