@use '../../Styles/variables.scss' as *;
@use '../../Styles/mixins.scss' as *;


.footer{
    background-image: linear-gradient(rgba(0,0,0,0), $BYBlack,);
    display: flex;
    align-items: flex-end;
    height: 11rem;
    bottom: 0;
    
    &__elements{
        // display: flex;
        // align-items: center;
        width: 100%;
        &--container{
            width: 100%;
            margin-bottom: 1rem;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
        
        
        
        &--logo{
            width: 12rem;
            // opacity: 0.7;
            // height

        }

        &--text{
            margin: 0.5rem;
        }

        &--shit{
            font-size: 0.8rem;
            color: $BYWhite;
            // position: absolute;
            margin-bottom: 4rem;
        }
    }

    
}